:root {
  --main-color: #0F1C39;
  --sub-color: #0F1C39aa;
  --bg-color: #E2EDEC;
}

html {
  background-color: var(--bg-color);
}

html.wf-inactive {
  visibility: hidden;
}

html.wf-active, html.loading-delay {
  visibility: visible;
}

/* 16pxより小さいとiPhone上ではズームされてしまうらしい */
select {
  font-size: 16px;
}

table {
  width: 100%;
  margin: 16px auto;
  table-layout: fixed;
}

.contents-wrapper {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
}

.title {
  line-height: 40px;
  font-size: 20px;
  color: var(--main-color);
  text-align: center;
}

.title-text,
.title-img {
  display: inline-block;
  vertical-align: middle;
}

.title img {
  height: 80px;
}

.main .table-item {
  text-align: center;
}

.main .character {
  line-height: 80px;
  font-size: 60px;
  color: var(--main-color);
}

.main .description {
  line-height: 20px;
  font-size: 16px;
  color: var(--sub-color);
}

/* デスクトップ用レイアウト */
@media screen and (min-width: 650px) {
  .br-pc {
    display: block;
  }
  .br-sp {
    display: none;
  }
}

/* スマートフォン用レイアウト */
@media screen and (max-width: 650px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
}