html.serif {
  font-family: serif;
}

html.kufam {
  font-family: 'Kufam';
}

html.grandstander {
  font-family: 'Grandstander';
}

html.syne {
  font-family: 'Syne';
}

html.roboto-mono {
  font-family: 'Roboto Mono';
}