html.sans-serif {
  font-family: sans-serif;
}

html.serif {
  font-family: serif;
}

html.monospace {
  font-family: monospace;
}

html.noto-sans-jp {
  font-family: "Noto Sans JP";
}

html.noto-serif-jp {
  font-family: "Noto Serif JP";
}

html.m-plus-1p {
  font-family: "M PLUS 1p";
}

html.m-plus-rounded-1c {
  font-family: "M PLUS Rounded 1c";
}

html.sawarabi-mincho {
  font-family: "Sawarabi Mincho";
}

html.sawarabi-gothic {
  font-family: "Sawarabi Gothic";
}

html.kosugi-maru {
  font-family: "Kosugi Maru";
}

html.kosugi {
  font-family: "Kosugi";
}
