* {
  /* font-family: 'Kufam', cursive;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Noto Serif JP', serif;
  /* font-family: 'Roboto', sans-serif; */
}

table {
  width: 100%;
  table-layout: fixed;
}

.title {
  text-align: center;
}

.main .table-item {
  text-align: center;
}

.main .character {
  font-size: 60px;
}

.main .description {
  font-size: 16px;
}