html.wf-inactive {
  visibility: hidden;
}

html.wf-active, html.loading-delay {
  visibility: visible;
}

/* 16pxより小さいとiPhone上ではズームされてしまうらしい */
select {
  font-size: 16px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.title {
  text-align: center;
}

.main .table-item {
  text-align: center;
}

.main .character {
  font-size: 60px;
}

.main .description {
  font-size: 16px;
}