html.wf-inactive {
  visibility: hidden;
}

html.wf-active, html.loading-delay {
  visibility: visible;
}

html.serif {
  font-family: serif;
}

html.kufam {
  font-family: 'Kufam';
}

html.grandstander {
  font-family: 'Grandstander';
}

html.syne {
  font-family: 'Syne';
}

html.roboto-mono {
  font-family: 'Roboto Mono';
}

select {
  font-size: 16px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.title {
  text-align: center;
}

.main .table-item {
  text-align: center;
}

.main .character {
  font-size: 60px;
}

.main .description {
  font-size: 16px;
}